@model IEnumerable<BlogUsingEF.DAL.Entities.Article>

@{
    ViewBag.Title = "ViewMyArrticle";
}

<h2>View My Arrticle</h2>
@{
   var usr = Session["UserName"];
}
@if (usr != null)
{
    @Html.ActionLink("Add Article", "AddArticle")
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPublish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPublish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
            @if (usr != null)
            {
            <td>
                @Html.ActionLink("Add Comment", "AddComment", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Delete Article", "DeleteArticle", new { id = item.Id })
            </td>
            }
    </tr>
}

</table>
